.App {
  text-align: center;
}

.characters {
  display: flex;
  flex-wrap: wrap;
}

.character {
  background: #fff;
  position: relative;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 47%;
  color: #333;
  flex-basis: width;
  background-color: rgb(235, 232, 51);
}
.form-control{
width: 1px;

}

